---
import Layout from "$layout/base-layout.astro"
import { getTopicEntries } from "./_topics.utils"

const entries = await getTopicEntries()
// TODO: Update description
---

<Layout title="Topics" description="Topics I love reading / writing about!">
  <h1>Topics</h1>
  <ul>
    {
      entries.map((entry) => (
        <li>
          <a href={`/topic/${entry.slug}`}>{entry.data.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
