---
import { Alert } from "$components"
import { Layout } from "$layout"
import { TopicCard, getTopicEntries } from "$modules/topic"

const entries = await getTopicEntries()
---

<Layout title="Topics" description="Topics I love reading / writing about!">
  <main class="container flex-1">
    <h1 class="text-center">Topics</h1>
    {entries.length === 0 ? <Alert level="warning">No topics yet configured.</Alert> : null}
    {entries.map((entry) => <TopicCard topic={entry} />)}
  </main>
</Layout>
