---
import ThemeSwitcher from "../theme/theme-switcher.astro"
import { Link } from "$components"
---

<header class="page-header">
  <div class="container">
    <nav>
      <ul class="header-nav-list">
        <li><Link class="header-nav-link" href="/">Home</Link></li>
        <li><Link class="header-nav-link" href="/blog/">Blogs</Link></li>
      </ul>
    </nav>
    <ThemeSwitcher />
  </div>
</header>

<style>
  @layer component.layout-header {
    .page-header {
      position: sticky;
      top: 0;
      z-index: 1;
      box-shadow: 0px var(--sp-space-3) var(--sp-space-4) var(--sp-border-color);
    }
    :global(.theme-dark) .page-header {
      border-bottom: var(--sp-space-1) solid var(--sp-border-color);
      box-shadow: none;
    }
    .container {
      display: flex;
      justify-content: space-between;
      background-color: color-mix(in srgb, var(--sp-background-color) 80%, transparent);
      backdrop-filter: blur(var(--sp-space-4));
    }

    .header-nav-list {
      list-style: none;
      padding-inline-start: 0;
      margin: 0;
      display: flex;
      column-gap: var(--sp-space-6);
      height: 100%;
      align-items: center;
    }
    .header-nav-link {
      padding: 0 var(--sp-space-6);
    }
  }
</style>
