---
import { Icon } from "astro-icon"
type AlertLevel = "info" | "warning" | "error" | "success"
type Props = {
  level: AlertLevel
}

const { level } = Astro.props
---

<div class:list={["alert", level]}>
  <Icon name={"mdi:alert"} class="icon" />
  <slot />
</div>

<style>
  .alert {
    margin: var(--sp-space-4) 0;
    padding: var(--sp-space-4);
    font-size: var(--sp-font-size-4);
    border-radius: var(--sp-space-4);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--sp-space-6);
  }
  .icon {
    width: var(--sp-font-size-6);
  }

  .info {
    background-color: blue;
    color: white;
  }
  .warning {
    background-color: orange;
    color: white;
  }
  .error {
    background-color: red;
    color: white;
  }
  .success {
    background-color: green;
    color: white;
  }
</style>
