---
import { getCollection } from "astro:content"
import Layout from "$layout/base-layout.astro"
import BlogListItem from "$modules/blog/blog-card.astro"

const entries = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? !data.isDraft : true
})
---

<Layout title="Sujeet's Blogs" description="List of all the blogs">
  <h1>Blogs</h1>
  {entries.map((entry) => <BlogListItem {entry} />)}
</Layout>
