---
import { Layout } from "$layout"
import { BlogCard } from "$modules/blog"
import { getBlogEntries } from "$modules/blog"

const entries = await getBlogEntries()
---

<Layout title="Sujeet's Blogs" description="List of all the blogs">
  <main class="container flex-1">
    <h1>Sujeet's Blogs</h1>
    {entries.map((entry) => <BlogCard {entry} />)}
  </main>
</Layout>

<style>
  @layer page {
    h1 {
      text-align: center;
      margin-bottom: var(--sp-space-8);
    }
  }
</style>
