.sr-only {
  position: absolute;
  width: var(--sp-space-1);
  height: var(--sp-space-1);
  padding: 0;
  margin: calc(-1 * var(--sp-space-1));
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
