body {
  display: flex;
  flex-direction: column;

  /* Set color */
  background-color: var(--sp-background-color, #ffffff);
  color: var(--sp-text-color, #000000);

  /* Typography */
  font-family: "Open Sans Variable", sans-serif;
  font-size: var(--sp-font-size-4);
  line-height: 1.6;

  /* Spacing */
  margin: 0;

  /* For smooth scrolling */
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-weight: normal;
}

h1 {
  font-size: var(--sp-font-size-9);
  text-align: center;
  /* font-weight: bold; */
}
h2 {
  font-size: var(--sp-font-size-8);
}
h3 {
  font-size: var(--sp-font-size-7);
}
h4 {
  font-size: var(--sp-font-size-6);
}
h5 {
  font-size: var(--sp-font-size-5);
}
h6 {
  font-size: var(--sp-font-size-4);
}

small {
  font-size: var(--sp-font-size-2);
}

pre {
  border-radius: 0.5rem;
  margin: 2rem 0;
  padding: 1.2rem 1.4rem;
}

blockquote {
  background: var(--sp-background-950);
  border-left: var(--sp-space-3) solid var(--sp-background-800);
  margin: var(--sp-space-4) 0;
  padding: var(--sp-space-4) var(--sp-space-4) var(--sp-space-4) var(--sp-space-6);
  quotes: "\201C" "\201D" "\2018" "\2019";
}

blockquote p {
  margin-block-start: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

:not(pre) > code {
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: var(--sp-background-950);
}

.yt-embed {
  max-width: 100%;
}
