---
import Link from "../link/link.astro"
type Props = {
  parentPageHref?: string | undefined
  parentPageTitle?: string | undefined
  currentPageTitle: string
}
const { currentPageTitle, parentPageHref, parentPageTitle } = Astro.props
const currentPageHref = Astro.url.pathname
---

<nav>
  <ul class="breadcrum-list text-muted text-3">
    <li class="breadcrum-list-item">
      <Link href="/">Home</Link>
    </li>
    {
      parentPageHref && parentPageTitle ? (
        <li class="breadcrum-list-item">
          <Link href={parentPageHref}>{parentPageTitle}</Link>
        </li>
      ) : null
    }

    <li class="breadcrum-list-item">
      <Link href={currentPageHref} aria-current="page">
        {currentPageTitle}
      </Link>
    </li>
  </ul>
</nav>

<style>
  @layer component.breadcrum {
    .breadcrum-list {
      list-style: none;
      margin-block-start: 0;
      padding-inline-start: 0;
      display: flex;
      flex-wrap: wrap;
    }
    .breadcrum-list-item:not(:last-child)::after {
      content: "/";
      padding-inline: var(--sp-space-4);
    }
  }
</style>
