---
type test = {
  a: number
}
const a: test = { a: 1 }
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Sujeet | Home</title>
  </head>
  <body>
    <h1>Sujeet Jaiswal {a.a}</h1>
    <p>
      Helping people make the world a better place through quality software.
    </p>
    <h2>Comming Soon</h2>
  </body>
</html>

<script>
  const themeSwitcher: HTMLButtonElement | null =
    document.querySelector("#theme-switcher")
  if (themeSwitcher) {
    themeSwitcher.removeAttribute("disabled")
    themeSwitcher.addEventListener("click", () => {
      const isDark = document.documentElement.classList.toggle("dark")
      localStorage.setItem("theme", isDark ? "dark" : "light")
    })
  }
</script>
