---
import { Icon } from "astro-icon/components"
import { ProficiencyLevel, profiencencyConfigs } from "./_skill-config"

export type Props = {
  name: string
  level: ProficiencyLevel
  icon: string
}
const { name, level, icon } = Astro.props
const config = profiencencyConfigs[level]
---

<li class:list={["skill-card", config.class]}>
  <Icon class="icon-tech" name={icon || "mdi:code-greater-than"} />
  <Icon name={config.icon} title={config.title} class="icon-level" />
  <div class="name">
    {name}
  </div>
</li>

<style>
  .skill-card {
    position: relative;
    border: var(--sp-space-2) solid var(--sp-proficiency-level-text);
    text-align: center;
  }
  .icon-tech {
    width: 6rem;
    height: 6rem;
    margin: 1rem auto;
    padding: var(--sp-space-3);
    max-width: 100%;
  }
  .icon-level {
    position: absolute;
    top: var(--sp-space-3);
    right: var(--sp-space-3);
    padding: var(--sp-space-2);
    width: var(--sp-space-8);
    height: var(--sp-space-8);
    background-color: var(--sp-proficiency-level-bg);
    color: var(--sp-proficiency-level-text);
    border-radius: var(--sp-space-3);
  }
  .name {
    background-color: var(--sp-proficiency-level-bg);
    color: var(--sp-proficiency-level-text);
    padding: var(--sp-space-2);
  }
</style>
