---
import { Icon } from "astro-icon/components"
import type { CollectionEntry } from "astro:content"
type Props = {
  topic: CollectionEntry<"topic">
}

const {
  topic: {
    slug,
    data: { title },
  },
} = Astro.props
---

<a class="tag-icon" href={`/topic/${slug}`}>
  <Icon name="mdi:tag-outline" />
  {title}
</a>

<style>
  .tag-icon {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
</style>
